:root {
    --blue: #0297FA;
    --teal: #02E5FA;
    --black: #1f1e2c;
    --green: #02FABC;
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

@font-face {
    font-family: dosis;
    src: url(assets/index/dosis.ttf);
}

html {
    width: 100%;
}

body {
    margin: 0;
    font-family: dosis;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 4em;
}

header img {
    position: absolute;
    left: 20px;
    top: 0;
    height: 100%;
}

header ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

header li {
    list-style-type: none;
    color: white;
    font-weight: lighter;
    font-size: 24px;
}

section {
    position: relative;
}

/*--------------- MAIN ---------------*/

.textAndImage {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6em;
    gap: 3em;
    height: calc(100vh - 3em);
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 10em;
    text-align: center;
    top: 1em;
    font-weight: bold;
    font-size: 2em;
    background-color: var(--black);
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    color: white;
}

.underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.current.underline-animation::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

/*--------------- INDEX ---------------*/

.textAndImage > img {
    text-align: center;
    width: 30%;
}

.textAndImage >  div {
    width: 60%;
    font-size: 40px;
}

.textAndImage >  p {
    width: 50%;
    font-size: 35px;
    text-align: justify;
    color: white;
}

.textAndImage >  div > h1 {
    color: var(--blue);
    transform: translateX(-150%);
}

.textAndImage > div > .loaded {
    transform: translateX(0px);
    transition: 1s ease;
}

.textAndImage >  div > h1:nth-child(1){
    margin-left: 20%;
}

.textAndImage >  div > h1:nth-child(2){
    margin-left: 32%;
}

.textAndImage >  div > h1:nth-child(3){
    margin-left: 42%;
}

.presentation-text {
    font-size: 48px;
    padding: 15vh 10%;
    text-align: justify;
}

.web-pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20vh 0;
}

.web-pages > a {
    font-weight: bold;
    font-size: 5em;
    text-transform: uppercase;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*--------------- PAGE CONTACT ---------------*/
.main-contact {
    margin: 60px auto;
    width: 30%;
}

.main-contact h1, .main-contact form, .main-contact figure {
    text-align: center;
}

.main-contact h2 {
    margin: 15px;
}

.main-contact form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-contact form div > section {
    display: flex;
    width: 100%;
    gap: 1em;
}

.main-contact form div > section > input {
    flex: 1;
}

.main-contact section {
    margin-bottom: 1em;
}

.main-contact input {
    height: 35px;
    border: none;
    border-bottom: 2px solid var(--black);
    transition: border-bottom 0.5s linear, padding 0.2s ease;
    position: relative;
}

.main-contact input:focus{
    outline: none;
    border-bottom: 2px solid var(--blue);
    padding: 10px;
}

.main-contact input::placeholder,
.main-contact textarea::placeholder {
    color: var(--black);
    transition: color 0.5s linear;
}

.main-contact input:focus::placeholder,
.main-contact textarea:focus::placeholder {
    color: var(--blue);
}

.main-contact textarea {
    resize: vertical;
    border-radius: 1em;
    border: 2px solid #666;
    transition: border-color 0.5s, border-radius 0.2s, padding 0.2s, width 0.3s;
}

.main-contact textarea:focus {
    outline: none;
    border-radius: 1.5em;
    border-color: var(--blue);
    padding: 10px;
}

button {
    margin: 1em 1em 3em;
    font-weight: bold;
    padding: 1em 3em;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    border-radius: 0.5em;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: transparent; 
    border: 2px solid var(--blue);
    box-shadow: 0 0 10px 0 var(--blue);
}


/* PAGE Histoire */
.main_histoire {
    display: flex;
    flex-direction: column;
}

.main_histoire section {
    align-self: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main_histoire section > img {
     width: 100vw;
     height: calc(100vh - 3em);
 }

 .main_histoire article {
    background-color: #ece9e9;
    width: 30%;
    margin: 2em;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.main_histoire article:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transform: scale(1.05); 
}

.main_histoire article:nth-child(odd) {
    margin-right: auto;
    margin-left: 12em;
}

.main_histoire article:nth-child(even) {
    margin-left: auto;
    margin-right: 12em;
}

.sablier {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 8em;
    width: 8em;
    bottom: 5em;
    font-weight: bold;
    background-color: var(--black);
    border-radius: 0.5em;
    transition: background-color 0.5s ease;
    box-shadow: 0 0 20px 0 var(--black);
}

.sablier img{
    height: 100%;
    width: 100%;
}

.sablier:hover{
    transform: scale(1.1);
    border: solid 3px white;
    transition: transform 0.25s ease;
}


/* Page Transition Numérique et Ecologique */
.section_transition_numerique {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.image-flex{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.aside-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_transition_numerique h1 {
    margin-top: 2em;
    text-align: center;
    font-size: 2.5em;
}

.section_transition_numerique p {
    text-align: justify;
    font-size: 1.3em;
    margin-top: 10px;
}

.section_transition_numerique article > aside {
    height: 110vh;
}

.main_transition_numerique section > img {
    width: 100vw;
    height: calc(100vh - 3em);
}
.section_transition_numerique a > img {
    width: 500px;
    height: 500px;
}

.section_transition_numerique img {
    width: 100%;
    height: 100vh;
    margin-top: 2em;
    border-radius: 50px;
}

.section_transition_numerique a {
    align-self: center;
    padding: 0.5em;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

.section_transition_numerique a::before {
    content: "Visiter le site de Ecovadis";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.section_transition_numerique a:hover::before {
    opacity: 1;
    transform: translateY(0);
}



.main_about h1 {
    padding: 2em;
}


  
/*Organigramme*/


.textAndImage > #organigramme {
    text-align: center;
    width: 60%;
}

.textAndImage > #organigramme_text {
    text-align: center;
    width: 40%;
}

#organigramme_text h2 {
    width: 70%;
    margin: 1em auto;
}

#organigramme_text p {
    width: 60%;
    text-align: justify;
    color: var(--black);
    margin: 0 auto;
}

.rectangle {
    position: relative;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    outline: solid 2px var(--black);
    outline-offset: -2px;
}

.rectangle:hover {
    transform: scale(1.1);
    transition: transform 0.25s ease;
    transform-origin: center;
    outline-color: #ece9e9;
    cursor: pointer;
}

.rectangle:hover::before {
    opacity: 0;
    transition: 0.1s ease;
}

ol {
    list-style: none;
}
 

/* LEVEL-0 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-0 {
    width: 50%;
    margin: 0 auto 20px;
    background-color: var(--blue);
}
  
.level-0::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background-color: var(--black);
}
  


/* LEVEL-1 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-1 {
    width: 50%;
    margin: 0 auto 40px;
    background: var(--blue);
}
  
.level-1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
}
  
  
  /* LEVEL-2 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
li {
    position: relative;
}

.level-2-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    width: 90%;
    margin: 0 auto;
}
  
.level-2-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(12.25% - 5px);
    width: calc(75.5% + 10px);
    height: 2px;
    background: var(--black);
}
  
.level-2-wrapper > li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 20px;
    background: var(--black);
}
  
.level-2 {
    margin-bottom: 20px;
    background: var(--teal);
}
  
  
/* LEVEL-3 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-3-wrapper {
    position: relative;
    width: 80%;
    margin-left: auto;
  }
  
  .level-3-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 2px;
    height: calc(100% + 20px);
    background: var(--black);
  }
  
  .level-3-wrapper li + li {
    margin-top: 20px;
  }
  
  .level-3 {
    font-weight: normal;
    background: var(--green);
  }
  
  .level-3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
  }

/* page partenaire */

.main_partenaire article{
    display: flex;
    position: relative;
    height: 20%;
    gap: 10%;
    margin: 5%;
    align-items: center;

}

.main_partenaire article img{
    height: 70%;
    
}


/* page about */

.main_about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.main_about a {
    text-align: center;
    margin: 7em;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 10%; 
    font-size: 1.2em;
}

.main_about img {
    width: 100px;
    height: 100px; 
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.main_about span {
    display: block;
    margin-top: 2em;
    transition: transform 0.3s ease;
}

.main_about a:hover img {
    transform: scale(1.5); 
}

.main_about a:hover span {
    transform: translateY(15px); 
}


.speh1 {
    padding: 2em;
    text-align: center;
}

.about_us {
    padding: 2em;
}


/* page projet */

.main_projet h1{
    text-align: center;
}

.main_projet section{
    display: flex;
    flex-direction: column;
}

.main_projet article {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}

.main_projet article:nth-child(even) {
    background-color: var(--blue);
    border: solid 2px var(--black);
    border-left: none;
    border-right: none;
}

.main_projet img {
    width: 310px;
    height: 205px;
    padding: 1em;
}

.main_projet p {
    padding: 1em;
    height: auto;
    width: 70%;
}


/* footer */

footer {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: right;

}

footer section {
    display: flex;
    flex-direction: row;
    align-items: center;

}




footer article {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2em;
    color: white;
    align-self: left;
}

footer img {
    width: 9%;
    height: 9%;
    align-self: left;
}

footer a {
    color: white;
    width: 5em;
    height: 5em;
    margin: 2em;
    padding: 0;
    text-align: center;
}

footer a > img{
    margin: 0;
    padding: 0.5em;
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
}

footer a:hover > img{
    transform: scale(1.3);
}

.logo_footer {
    width: 200px;
    height: 150px;
}
