:root {
    --blue: #0297FA;
    --black: #1f1e2c;
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

@font-face {
    font-family: dosis;
    src: url(assets/index/dosis.ttf);
}

body {
    margin: 0;
    font-family: dosis;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 3em;
}

header img {
    position: absolute;
    left: 20px;
    top: 0;
    height: 100%;
}

header ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

header li {
    list-style-type: none;
    color: white;
    font-weight: bold;
    font-size: larger;
}

.underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}


/* PAGE CONTACT */
.main-contact {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.main-contact h1, form, figure {
    text-align: center;
}

.main-contact h2 {
    margin: 15px;
}

.main-contact form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-contact form div > section {
    display: flex;
    width: 100%;
    gap: 1em;
}

.main-contact form div > section > input {
    flex: 1;
}

.main-contact section {
    margin-bottom: 1em;
}

.main-contact input {
    height: 35px;
    border: none;
    border-bottom: 2px solid var(--black);
    transition: border-bottom 0.5s linear, padding 0.2s ease;
    position: relative;
}

.main-contact input:focus{
    outline: none;
    border-bottom: 2px solid var(--blue);
    padding: 10px;
}

.main-contact input[type="text"]::placeholder, input[type="email"]::placeholder,
.main-contact input[type="tel"]::placeholder, textarea::placeholder {
    color: var(--black);
    transition: color 0.5s linear;
}

.main-contact input[type="text"]:focus::placeholder, input[type="email"]:focus::placeholder,
.main-contact input[type="tel"]:focus::placeholder, textarea:focus::placeholder {
    color: var(--blue);
}

.main-contact textarea {
    resize: vertical;
    border-radius: 1em;
    border: 2px solid #666;
    transition: border-color 0.5s, border-radius 0.2s, padding 0.2s, width 0.3s;
}

.main-contact textarea:focus {
    outline: none;
    border-radius: 1.5em;
    border-color: var(--blue);
    padding: 10px;
}

button {
    margin: 1em;
    margin-bottom: 3em;
    font-weight: bold;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    border-radius: 0.5em;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: transparent; 
    border: 2px solid var(--blue);
    box-shadow: 0 0 10px 0 var(--blue);
}


/* PAGE Histoire */
.main_histoire {
    display: flex;
    flex-direction: column;
}

.main_histoire h1{
    align-self: center;
}

.main_histoire section {
    width: 100%;
    height: 35em;
    align-self: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main_histoire section > img {
    width: 100%;
    height: 100%;
}

.main_histoire article {
    background-color: #ece9e9;
    width: 30%;
    margin: 2em;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.main_histoire article:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transform: scale(1.05); 
}

.main_histoire article:nth-child(odd) {
    margin-right: auto;
    margin-left: 12em;
}

.main_histoire article:nth-child(even) {
    margin-left: auto;
    margin-right: 12em;
}

.main_histoire button{
    position: relative;
    width: 11em;
    height: 10em;
}

.main_histoire button img{
    width: 100%;
    height: 50%;
}

.badge{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

/* page about */

.main_about {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main_about > section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  
/*Organigramme*/
#organigramme_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
    gap: 3em;
}

#organigramme {
    text-align: center;
    width: 60%;
}

#organigramme_text {
    width: 40%;
}

.rectangle {
    position: relative;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

ol {
    list-style: none;
}
 

/* LEVEL-0 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-0 {
    width: 50%;
    margin: 0 auto 20px;
    background: var(--blue);
  }
  
  .level-0::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
  


/* LEVEL-1 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-1 {
    width: 50%;
    margin: 0 auto 40px;
    background: var(--blue);
  }
  
  .level-1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
  
  
  /* LEVEL-2 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-2-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    width: 90%;
    margin: 0 auto;
  }
  
  .level-2-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(25% - 5px);
    width: calc(50% + 10px);
    height: 2px;
    background: var(--black);
  }
  
  .level-2-wrapper > li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
  
  .level-2 {
    margin-bottom: 20px;
    background: var(--level-2);
  }
  
  
/* LEVEL-3 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-3-wrapper {
    position: relative;
    width: 80%;
    margin-left: auto;
  }
  
  .level-3-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 2px;
    height: calc(100% + 20px);
    background: var(--black);
  }
  
  .level-3-wrapper li + li {
    margin-top: 20px;
  }
  
  .level-3 {
    font-weight: normal;
    background: var(--level-3);
  }
  
  .level-3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
  }
